
@model Damacana_Husnucan.Models.Product

<br />
<br />
<h4>Ürün Sepete Eklendi:  <span class="label label-success"> @Model.Name</span></h4>
<nav>
    <ul class="pager">
        <li><a href="@Url.Action("Index")">Alışverişe Devam Et</a></li>
       
    </ul>
</nav>