@model DamacanaH.Models.Product

<br />
<br />
<h4>Ürün Sepete Eklendi:  <span class="label label-success"> @Model.Name</span></h4>
<nav>
    <ul class="pager">
        <li><a href="@Url.Action("Index","Products")">Alışverişe Devam Et</a></li>

    </ul>
</nav>
