@using DamacanaH.Models

<br />
<h3><span class="label label-danger">Ürün Silindi</span></h3>
<br />
<nav>
    <ul class="pager">
        <li><a href="@Url.Action("Index")">Ana Sayfaya Dön</a></li>

    </ul>
</nav>
