@using DamacanaH.Models
@model DamacanaH.Models.Product

<br />
<h3><span class="label label-danger">Ürün Silindi</span></h3>
<br />
<nav>
    <table style="width:60%">
        <tr>
            <td>
                <ul class="pager">
                    <li><a href="@Url.Action("Cart")">Sepete Dön</a></li>

                </ul>
            </td>
            <td>
                <ul class="pager">
                    <li><a href="@Url.Action("Index","Products")">Ana Sayfaya Dön</a></li>

                </ul>
            </td>
        </tr>
    </table>
</nav>
