@model DamacanaH.Models.Product

<br />
<h3>Ürün Bilgisi Değiştirildi:  <span class="label label-success"> @Model.Name</span></h3>
<br />
<nav>
    <ul class="pager">
        <li><a href="@Url.Action("Index")">Ana Sayfaya Dön</a></li>

    </ul>
</nav>
