@model DamacanaH.Models.Product

<br />
<h3><span class="label label-default">Yeni Ürün Eklendi @Model.Name</span></h3>
<br />
<nav>
    <ul class="pager">
        <li><a href="@Url.Action("Index")">Ana Sayfaya Dön</a></li>
    </ul>
</nav>